.transactionBlock {
    border: solid 2px gray ;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    height: 100px;

}

.Revenue {
    display: flex
    ;
}

.Balance {
    margin-left: 10%;

    border-radius: 5px;
    padding: 50px;

}

.money{
    color: green;
}

a{
    justify-content: right;
    margin-left: 70%;
}