.company-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.company-list-item {
  flex-basis: calc(33.33% - 16px);
  margin-right: 16px;
  margin-bottom: 16px;
}

.remove-button {
  margin-top: 8px;
}
