a {
  text-decoration: none;
}

.modal_parent {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}

.modal_confirmation_button {
  margin-right: 10px;
}

.modal_subtext {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.navbarLogo {
  height: 60px;
  margin-left: 10px;
}
